* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#btnCalc {
  background-color: rgb(163, 177, 182);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 10px;
  right: 10px;
}

#btnCalc:hover {
  background-color: #2980b9;
}




#title {
  font-size: 40px;
  display: flex;
  justify-content: center;
  padding-top: 2%;
  margin-bottom: 3%;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(202, 230, 240);
  min-width: 100vw;
  min-height: 100vh;
}

#Calculadora {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: #fff;
  background: rgb(0, 0, 0, 0.45);
  width: 21rem;
  padding: 20px 30px;
  font-size: large;
  border-radius: 15px;
  box-shadow: 0px 4px 30px rgb(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
}

#altura {
  height: 30px;
  width: 100%;
  border-radius: 5px;
  margin-top: 5px;
  padding: 0 15px;
  background: rgba(255, 255, 255, 0.281);
  color: #fff;
  border: 1px solid #999;
}

#altura:hover {
  background: rgba(44, 42, 42, 0.795);
}

#peso {
  height: 30px;
  width: 100%;
  border-radius: 5px;
  padding: 0 15px;
  margin-top: 5px;
  background: rgba(255, 255, 255, 0.281);
  color: #fff;
  border: 1px solid #999;
}
#peso:hover {
  background: rgba(44, 42, 42, 0.795);
}

#botao {
  width: 100px;
  height: 42px;
  color: #fff;
  background: #20232c62;
  border: transparent;
  border-radius: 5px;
}

#botao:hover {
  background: #675afe;
}

#resultado {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#resultadoP {
  display: flex;
  justify-content: center;
}

#madeBy{
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 10px;
  text-decoration: none;
  font-size: 1.5rem;
  color: #000;
}

#madeBy:hover{
color: #675afe;
}
